%% -*- mode:erlang -*-
{lib_dirs,            [".."]}.

{erl_opts,            [ debug_info
                      ]}.

{deps,                [ {proper, ".*",
                         {git, "https://github.com/manopapad/proper.git",
                          {tag, "a35edafa335c2eff2e87d74501ede73281fb001d"}}}
                      ]}.
{deps_dir,            "deps"}.

{cover_enabled,       true}.
{cover_print_enabled, true}.

{xref_checks,         [ undefined_function_calls
                      ]}.
{xref_queries,        [ {"XC || DF", []} %% Deprecated function calls
                      ]}.
